
.border{
	border-bottom: solid 1px #5C606C;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
  padding-bottom: 1.2em;
}
nav ul li{
	list-style: none;
	display: inline;
  padding: 0.7em;

}
nav#mainMenu{
	background-color: #1F2531;
	text-align: right;
	padding: 2.3em;
	font-family: Times-New-Roman;
	font-size: 1em;
	margin-right: 1em;

}
nav{

	color:#616767;


}
nav a{
	padding: 1em;
	text-transform: uppercase;
}
a:link{
	color:#616767;
	text-decoration: none;
	display: inline;

}
a:visited{
	color: #FCFFFF;
}
a:hover{
	color: #FCFFFF;
	border-top:solid 3px #B86366;

}

 .active{
	color: #FCFFFF;

}
.smarti_free{
	background-color: #B86366;
	padding: 3.3em 2.1em;
	margin-left: 1em ;
	border-radius: 0 0 1em 1em;
	float: left;
	border-width: 100%

}
.smart{
  font-size: 2.2em;
  padding-bottom:0.6em;
}
.Free_Psd{
  font-size: 0.8em;
  padding-left: 1.5em;
  color: #EACDCC;
}
.foto{
	float: right;
	margin-right: 1em;
}
p.aaa{
	font-size: 4em;
	padding-top: 2.7em;
	padding-left: 12px;
}
p.bbb{
	padding-left: 1em;
	font-family: Times-New-Roman
}
div.ddd{
	background-color: #10131C;
	margin-left: 1em;
	text-transform: uppercase;
	margin-top: 1em;
	padding: 1em;
	padding-left: 2em;
	float: left;
	font-size: 1em;
	border-radius: 9px;
	letter-spacing: 2px;
}
.abc{

	background:url(../Internet/phoneicon.png) no-repeat;
	background-position: 4px 4px;

}
.outterdiv{
	background-color: #ffffff;
	margin-top: 12em;
	margin-right: 1em;
	margin-left: 1em;
	border-radius: 1.5em;
	padding: 1em;
	height: 54em;

}
.innerdiv1{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;

}
.innerdiv2{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;


}
.innerdiv3{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;

}
.innerdiv4{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;

}
.innerdivv{
	clear: both;
}
.qqq{
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 1em;
}
.qqq1{
	margin-top: 1em;
	font-size: 32px;
	float: right;
	color: black;
	font-style: italic;
}
.qqq2{
	margin-right: 1em;
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
}
.qqq3{
	margin-right: 1em;
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
}
.zi{
	border:solid  1px;
	background-color: black;
color: #FDFDFD;
font-size: 18px;
padding-top:10px;
padding-bottom: 10px;
}
h1#benefi{
	padding-bottom: .5em;
	font-size: 0.8em;
	color: #929292;
}
p#shkronja{
	color:#ABABAB;
	font-size: 0.8em;
}
.Osi{
  color: #88596B;
}
.eee{
border-top: solid 2px #ABABAB;
	color: #686868;
	clear: both;
	margin-top: 2em;
padding: 2em;

	border-bottom: solid 2px #ABABAB;

}
p#qwe{
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}
body{
	background-color: #1F2531;
	color: #FFFEFF;
}
.footer-panel{
	width:22%;
	display: inline-block;
	vertical-align: top;
	padding-left:20px;
}
.footer-content{
	color:grey;
}
.footer-title{
	margin-bottom:15px;
}
.footer-content li{
	list-style-type:none;
	border-bottom: 1px solid grey;
	padding:5px 0px;
	font-size:20px;
}
.footer li a{
	color:grey !important;
}
.socials li {
	padding:20px 0px !important;
}
footer
{
	margin:40px 0px 20px 0px !important;
	padding:0 20px;
}
p.sub {
	padding-left: 2em;
	font-size: 3em;
	font-style: italic;
}
p.miss{
	padding-left: 2.3em;
	font-size: 1.3em;
}
.footer-bottom
{
	margin-top:25px;
	border-top:1px solid grey;
	padding-top:15px;
}
